@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Ubuntu:100,200,300,400,500,600,700');


.form-group {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    text-decoration-color: #5a2890;
    background-color: #f5f5f5;
    background-image: none;
}

body {
  font-size: 20px;
  color: #212529;
  font-family: 'Ubuntu', serif;
}

h1 {
    font-size: 3rem;
    padding: 20px 20px;
    text-align: center;
}

h2, 
h3
   {
    font-size: 2rem;
    padding: 20px 10px;
    text-align: center;
}




.header-img {
 background-image: url('https://www.thespruce.com/thmb/w-nbIo_3O0gOsDksifG74jQ2FXg=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp82d5a417ngj100_Medium_1422699-5a0b7621845b34003b324689.jpg');
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  padding: 100px 100px;
  display: flex;
  color: #f5f5f5;
  text-align: center;
  z-index:-1;
  align-items: center;
}


button[type="submit"]{
    margin-top:20px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #f5f5f5;
    font-weight: 200;
    
}

.navbar {
    
    padding: 10px 15px;
    background-color: rgba(169, 169, 169, 0.39);
    line-height: 30px;
    max-width: 100%;
}

.navbar a:hover {
    background:  #e67e22;
    padding: 5px 5px;
    border-radius: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.text {
    padding: 10px 15px;
    margin: 10px 10px;
}

footer {
    background-color: #676767;
    color: #fffff0;
    min-height: 120px;
    padding-bottom: 15px;
    padding-top: 15px;
}

a .fa-download {
    display: block;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    color: #fffff0;
}

a .fa-download:hover {
    color: #e67e22;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
    padding-top: 15px;
}

.social-links li {
    display: inline;
}

.social-links li a i {
    height: 35px;
    width: 30px;
    border-radius: 50%;
    padding-top: 8px;
    font-size: 20px;
    color: #fffff0;
    text-align: center;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:  #e67e22;
}

