{% extends 'base.html' %} {% block content %}
<div>
<row class="col-md-6">
<h3> Add Recipe </h3>

<form action ="{{ url_for('insert_recipe') }}" method="POST" name="recipes">
  
  <div class="form-group col-md-12">
    <label for="exampleFormControlSelect1">Choose menu</label>
    <select class="form-control" id="menu_type" name="menu_type">
      
      {% for menu in menus %}
      <option >{{ menu.menu_type }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Dish</label>
    <textarea class="form-control" id="dish" name="dish" type="text"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Time</label>
    <textarea class="form-control" id="time" name="time" type="text"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Cost</label>
    <textarea class="form-control" id="cost" name="cost" type="text"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Ingredients</label>
    <textarea class="form-control" id="ingredients" name="ingredients" type="text"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="action">Add Recipe
    <i class="">send</i>
  </button>
</form>
</row>
</div>

{% endblock %}