{% extends 'base.html' %} {% block content %}
<div class="container-fluid col-md-6">
	<div class="row">
		<div class="col-lg-8 col-md-6 col-sm-12 mx-auto">
			<div class="post-preview">
				<h2 class="post-title">
					Breakfast Menu
				</h2>
			</div>
			<hr>
			<div class="col-lg-8 col-md-10 mx-auto">
			</div>
			{% for recipe in recipes %}
			<div class="post-preview">
				<a href="{{url_for('get_breakfast')}}">
					<h3 class="post-title">
						{{ recipe.dish }}
					</h3>
				</a>

				<p class="post-meta">
                <span>Time :</span>
                   {{ recipe.time }}
                </p>
                <p>
                <span>Cost :</span>
                  {{ recipe.cost }}
                </p>
                <p>
                <span>Ingredients :</span>
                  {{ recipe.ingredients }}
                </p>
                <p>
                <span>Preparation :</span>
					{{ recipe.preparation }}
				</p>
			</div>
            {% endfor %}
			<hr>
			
			<hr>
			<!-- Pager -->
			<div class="clearfix">
				<a class="btn btn-primary float-right" href="{{url_for('add_recipe')}}">Add new recipe &rarr;</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}