{% extends 'base.html' %} {% block content %}
<div>

<h3> Add Recipe </h3>
<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col-md-12">
  <div class="container">
            <div class="row">
  <div class="form-group container-fluid col-md-12">
    
    <select class="form-control" id="menu_type" name="menu_type">
      {% for menu in menus %}
                      {% if cat.category_name == task.category_name%}
      <option >{{ menu.menu_type }}</option>
      {% endfor %}
    </select>
  </div>
  <div class=" col-md-12">
    <label for="exampleFormControlTextarea1">Dish</label>
    <textarea class="form-control" id="dish" name="dish" type="text"></textarea>
  </div>
  <div class=" col-md-12">
    <label for="exampleFormControlTextarea1">Time</label>
    <textarea class="form-control" id="time" name="time" type="text"></textarea>
  </div>
  <div class="col-md-12">
    <label for="exampleFormControlTextarea1">Cost</label>
    <textarea class="form-control" id="cost" name="cost" type="text"></textarea>
  </div>
  <div class="col-md-12">
    <label for="exampleFormControlTextarea1">Ingredients</label>
    <textarea class="form-control" id="ingredients" name="ingredients" type="text"></textarea>
  </div>
   <div class="col-md-12">
    <label for="exampleFormControlTextarea1">Preparation</label>
    <textarea class="form-control" id="preparation" name="preparation" type="text"></textarea>
  </div>
  <button class="btn btn-primary col-md-4" type="submit">Add Recipe
    <i class="">send</i>
  </button>
</div>
</div>
</form>
</div>


{% endblock %}