{% extends 'base.html' %} {% block content %}

<div class="container-fluid col-md-6">
	<div class="row">
		<div class="col-lg-8 col-md-6 col-sm-12 mx-auto">
			<div class="">
				<h2 class="">
					Explore Our Menus!
				</h2>
			</div>
			<hr>
			<div class="col-lg-8 col-md-10 mx-auto">
			</div>
			{% for menu in menus %}
			<div class="post-preview">
				<img src= "{{ menu.img }}" class="media-object col-md-12 height=100 width=100" >
				<a href="{{url_for('get_menu_details', menu_type=menu.menu_type|lower)}}">
					<h3 class="post-title ">
						{{ menu.menu_type }}
					</h3>
				</a>
				<p class="post-meta">Click above to view menu</p>
			</div>
			<hr>
			{% endfor %}
			<hr>
			<!-- Pager -->
		</div>
	</div>
</div>

{% endblock %}