{% extends 'base.html' %} {% block content %}


<!-- Why do you have col-md-6???? -->
<div class="container-fluid">  
	<div class="row">
        <!-- This div is uncloses -->
		<div class="col-lg-8 col-md-12 col-sm-6 mx-auto">
			<h2>
			Explore Our Menus!
			</h2>
			
        
			<hr>
            <!--  row inside a div and then you have added extra overriding rules -->
			<div class=" row ">
            <!-- Anything with a 12 in it goes all the way across the page -->
				
					{% for menu in menus %}
                    <div class="col-md-6 text-center post-preview">
					{% if menu.menu_type == 'breakfast' or menu.menu_type == 'lunch' %}
                    
					<img src= "{{ menu.img }}" class="media-object col-md-6 height=100 width=100" >
					<a href="{{url_for('get_menu_details', menu_type=menu.menu_type|lower)}}">
						<h3 class="post-title ">
							{{menu.menu_type}}
						</h3>
					</a>

					{% endif %}
					<hr>
                    </div>
					{% endfor %}
				
            </div>
            <div class=" row ">
            <!-- Anything with a 12 in it goes all the way across the page -->
				
					{% for menu in menus %}
                    <div class="col-md-6 text-center post-preview">
					{% if menu.menu_type == 'dinner' or menu.menu_type == 'dessert' %}
                    
					<img src= "{{ menu.img }}" class="media-object col-md-6 height=100 width=100" >
					<a href="{{url_for('get_menu_details', menu_type=menu.menu_type|lower)}}">
						<h3 class="post-title ">
							{{menu.menu_type}}
						</h3>
					</a>

					{% endif %}
					<hr>
                    </div>
					{% endfor %}
				</div>
            </div>
        </div>
	</div>
    <hr>


{% endblock %}