{% extends 'base.html' %} {% block content %}

<div class="container-fluid col-md-6">
	<div class="row">
		<div class="col-lg-8 col-md-6 col-sm-12 mx-auto">
			<div class="post-preview">
				<h2 class="post-title">
					Explore Our Menus!
				</h2>
			</div>
			<hr>
			<div class="col-lg-8 col-md-10 mx-auto">
			</div>
			{% for menu in menus %}
			<div class="post-preview">
				<img src= {{ menu.img }} class="img-circle media-object col-md-6" height=100 width=100>
				<a href="{{url_for('get_breakfast')}}">
					<h3 class="post-title">
						"{{ menu.menu_type }}"
					</h3>
				</a>
				<p class="post-meta">Posted by
					<a href="#">Start Bootstrap</a>
					on September 18, 2019</p>
			</div>
			<hr>
			{% endfor %}
			<hr>
			<!-- Pager -->
		</div>
	</div>
</div>

{% endblock %}